* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
	height: 100vh;
}

a {
	text-decoration: none;
}

header, section, footer {
	height: 100%;
	width: 100%;
	min-height: 550px;
	min-width: 650px;
}

header {
	background-image: url("/img/animals-farm-horses-4111.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
}

header a {
	display: inline-block;
}

header a h1 {
	font-size: 42px;
	font-weight: 600;
	color: black;
	display: inline-block;
}

#footer {
	position: relative;
}

#footer .nav {
	position: absolute;
	width: 100%;
	bottom: 0;
}

#footer .wrap {
	margin: 20px auto;
	width: 80%;
	overflow: hidden;
}

#footer .links {
	float: right;
	list-style: none;
	margin: 5px auto;
	width: auto;
	font-size: 16px;
	height: 32px;
}

#footer .links li{
	margin: 0px 0px 0px 20px;
	float: left;
	font-weight: 500;
}

#footer .links li a {
	border-radius: 100px;
	display: block;
	padding: 5px 15px;
}

#footer .links li:hover
{
	background-color: #bbb;
	border-radius: 100px;
}

@media screen and (min-width: 650px) and (min-height: 550px) {
	header, section, footer {
		min-height: 550px;
		min-width: 650px;
	}
}