* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
	height: 100vh;
}

a {
    color: #fff;
	text-decoration: none;
}

header, section, footer {
	height: 100%;
	width: 100%;
	min-height: 550px;
	min-width: 650px;
}

header {
	background-image: url("/img/animals-farm-horses-4111.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
}

#bar .home {
    margin: 20px 0;
	font-size: 34px;
	font-weight: 600;
	color: white;
	display: inline-block;
}
#bar {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0, rgba(0, 0, 0, 0) 100%);
    height: 76px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
}

.wrap {
    margin: 0 auto;
    -webkit-transition: all .2s;
    transition: all .2s;
    width: 80%;
    height: 100%;
}

#bar .float {
    position: fixed;
    z-index: 1;
    -webkit-animation: slideInDown 1s;
    animation: slideInDown 1s;
}

#bar .wrap div {
    display: inline-block;
}

#bar .logos {
    float: left;
}

#bar .links {
    float: right;
}

#bar .contact {
    margin: 20px auto;
    -webkit-transition: all .2s;
    transition: all .2s;
    padding: 5px 20px;
    border: 3px solid #fff;
    font-size: 16px;
}

#bar .contact:hover {
    border-color: #8967b6;
}

#bar .contact:active {
    background-color: #8967b6;
}

#footer {
	position: relative;
}

#footer .nav {
	position: absolute;
	width: 100%;
	bottom: 0;
}

#footer .wrap {
	margin: 20px auto;
	width: 80%;
	overflow: hidden;
}

#footer .links {
	float: right;
	list-style: none;
	margin: 5px auto;
	width: auto;
	font-size: 16px;
	height: 32px;
}

#footer .links li{
	margin: 0px 0px 0px 20px;
	float: left;
}

.links a {
	border-radius: 100px;
	display: block;
	padding: 5px 15px;
    color: #fff;
    font-weight: 600;
}

.links a:active {
    background-color: #8967b6;
    color: white;
}

#footer .links a:hover {
	background-color: #bbb;
	border-radius: 100px;
}

@-webkit-keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px)
    }
    100% {
        transform: translateY(0)
    }
}

@media screen and (min-width: 650px) and (min-height: 550px) {
	header, section, footer {
		min-height: 550px;
		min-width: 650px;
	}
}
