@import 'mixins';

body {
	margin:0px;
}
#header {
	// height:170px;
	h1 {
		margin:0px;
		@include center-vertical;
	}
	.banner-image,
	.title-container {
		display:inline-block;
	}
	.title-container {
		// @include center-vertical;
	}
}

#footer {
	height:100px;
	background-color:grey;
	.footer-links{
		float:right;
		li{
			display:inline-block;
		}
	}
}